*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif;/*Axel aca le estoy dando un tipo de fuente a la letra de mi pagina.*/
} /*Axel aca va al inicio de todo nuestro selector universal y aplicamos el reset, reseteo para la pagina*/

.contenedor {/*Axel aca le aplicamos estilos a nuestra clase contenedor que es un div que agrupa toda mi estructura*/
    width: 90%; /*Axel aca width es para darle tamaño, tamaño en porcentajes.*/
    max-width: 1200px;/*Axel aca no se que es lo que hace*/
    margin: 20px auto;/*Axel aca aplicamos un margen que son el espacio entre el border para afuera*/
    padding: 20px;/*Axel aca aplicamos un padding que es un espacion entre el border para adentro.*/
    border: 2px solid #ddd;/*Axel aca aplicamos un border a nuestro contenedor para que se vea*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);/*Axel aca no se lo que hace*/
}

/****************************************************HEADER*************************************************/
header{
    display: flex; /*Axel aca le decimos ala caja que tome el comportamiento de flexible.*/
    justify-content: space-between;/*Axel aca le decimos que nos deje un espaciado especifico*/
    align-items: center;/*Axel aca esta propiedad se coloca como "siameses", trabaja en conjunto con el display flex.*/
    background-color: #F79B72;/*Axel aca le aplicamos fondo de color*/
    padding: 10px;
    
}
header nav ul{
    list-style: none; /*Axel aca le quitamos los puntitos a las listas.*/
    display: flex;
    gap: 20px;/*Axel aca le estoy dando un espacio entre los elementos de la lista de 20 px, es una propiedad de flexbox gap muy utlizado.*/
}

header nav ul li a{ /*Axel aca recorro de padres a hijos hasta llegar a los enlaces*/
    font-size: 20px;/*Axel aca le estoy dando un tamaño al tipo de letra*/
    text-decoration: none;/*Axel aca le estoy quitando a los enlaces la rayita azul que viene por default.*/
    color: aliceblue;/*Axel aca le doy un color a letra de los enlaces*/
}
header nav ul li:hover{/*Axel aca estoy aplicando un hover que es un efecto con el mouse al pasar.*/
    transform: scale(1.1);/*Axel nose que hace esta propiedad*/
}
header nav ul li a:hover{
    color: #ffbc0e;
}

header{
    background-color: #2A4759;
    padding-bottom: 20px;
}
header img{
    width: 100px; /*Axel aca es muy comun darle tamaño a las imagenes con width en pixeles tambien puedo incluir un heigth por alto.*/
    transition: all 0.3s;/*Axel aca nose que es lo que hace.*/
}
header img:hover{
    transform: scale(1.2);
}

/****************************************************HEADER*************************************************/

/****************************************************MAIN*************************************************/
.hero{
    width: 100%; /*Axel aca con todas estas propiedades muestro un bonito fondo de pantalla en la pagina en la seccion inicial, con calc saco las medidas justas que quiero que tome mi fondo de pantalla en la pagina, midiendo el nav y eso se lo resto.*/
    height: calc(100vh - 135px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hero2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1{
    color: aliceblue;
    text-align: center; /*Axel aca esta propiedad es muy utilizada para centrar un titulo o parrafo.*/
    font-weight: normal;/*Axel aca esta propiedad es para darle el grosor ala letra.*/
    font-size: 40px;
    border: 2px solid aliceblue;
    padding: 10px;
}

.hero h3{
    margin-top: 10px;
    font-size: 25px;
    color: aliceblue;
}
.nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.nosotros img{
    width: 450px;
}
.nosotros div h3{
    text-align: center;
    margin-bottom: 20px;
}
.nosotros div{
    width: 50%;/*Axel aca este porcentaje que le damos al div es muy importante pone prolija los textos con las imagenes los "acomoda" cierta forma.*/
}
.nosotros div p{
    text-align: center;
    margin-right: 20px;
    font-size: 20px;

}

.servicios{
    display: flex;
    justify-content: space-evenly;/*Axel aca evenly deja un espacio al principio y al final del contenedor.*/
    align-items: center;
    flex-direction: row-reverse;/*Axel aca le damos la direccion de fila al revez.*/
    padding: 20px;
}

.servicios img{
    width: 400px;
    height: 400px;
}

.servicios div h3{
    text-align: center;
    margin-bottom: 20px;
}
.servicios div{
    width: 50%; /*Axel aca este tamaño que le damos al contenedor div es muy importante ya que me deja prolija los textos y las imagenes.*/
}
.servicios div p{
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}


span{
    color: red;
}
/****************************************************MAIN*************************************************/

/****************************************************FOOTER*************************************************/

footer{
    background-color: #2A4759;
    display: flex;
    flex-direction: column; /*Axel aca column me distribuye los elementos en forma de columna*/
    padding: 10px;
    border-radius: 8px; /*Axel aca esta propiedad es para darle un efecto de redondel o bordeado al borde.*/
}

footer .logo-footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

footer ul{ 
    list-style: none;
    display: flex;
    gap: 20px;
}
footer ul li{ 
    color: aliceblue;
}

footer p{
    text-align: center;
    color: aliceblue;
    margin-bottom: 15px;
}
footer img{
    width: 100px;
    transition: all 0.3s; /*Axel aca esta propiedad nose lo que hace seguramente sea una animacion*/
}
footer img:hover{
    transform: scale(1.2);/*Axel nose que hace esta propiedad*/
}

.redes-sociales{
    text-align: center;
    color: aliceblue;
}  
.redes-sociales a{
    text-decoration: none;
    color: aliceblue;
} 

 .enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}    
.enlaces li:hover{
    transform: scale(1.1);/*Axel nose que hace esta propiedad*/

}  
.enlaces a{
    text-decoration: none;
    color: aliceblue;
    
} 
.enlaces a:hover{
    color: #ffbc0e;
}
    







